.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    /* width: 1200px; */
    margin: 0 auto;
    background-color: none;
    background-color:#ebebee;

}

.form-container{
    background-color: #ffffff;
    padding: 30px;
    position: relative;
    margin: 20px 30px;
}
.contact-info {
    background-color: #ffffff00;
    padding: 30px;
    position: relative;
    margin: 0px 30px;
}

.form-container {
    flex: 1;
    width: 70%;
    margin-right: 0px;
}

.contact-info {
    flex: 1;
    max-width: 300px;
    margin-left: 0px
}


.section-heading {
    font-size: 30px;
    margin-top: -110px;
    margin-bottom: 10%;
    padding-bottom: 10px;
    background-color: none;
    text-align: left;
}

.contact-heading {
    font-size: 30px;
    margin-top: -90px;
    margin-bottom: 10%;
    padding-bottom: 10px;
    background-color: none;
    z-index: 1;
    text-align: left;
}

.contact-info p {
    font-size: 16px;
    margin: 10px 0;
}

form {
    text-align: left;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
    font-size: 18px;
    color: #6a6a6a;
    padding: 2px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: none;
    background-color: rgb(237, 237, 242);
    box-sizing: border-box;
    color: #6a6a6a;
}

textarea {
    color: #6a6a6a;
    height: 150px;
    resize: vertical;
}

.leavebutton {
    padding: 10px 20px;
    border: none;
    background-color: #f5b800;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    align-self: left;
    width: 18%;
    height: 50px;
}

button:hover {
    background-color: #ffdd77;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}
